<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main>
  <div class="container-fluid justify-content-center d-flex h-100">
    <div class="row w-100" style="padding: 5% 10%;">
      <div class="col-xs col-lg-12 list-field">
        <div class="container-fluid h-100" style="width: 60%">

          <p class="auth-header">Configurations</p>


          <form
                  th:action="@{/owner/configurations/processing}"
                  th:method="POST"
                  th:object="${Configurations}">

            <div>
              <p th:unless="${haveError} or ${configured}" class="alert alert-primary">
                Fill the configuration form below:
              </p>

              <p th:if="${haveError}" class="errors alert alert-danger">
                Invalid input!
              </p>

              <p th:if="${configured}" class="alert alert-success">Configuration saved successfully!</p>
            </div>

            <div class="row w-100" style="margin: 0">
              <div class="form-floating input-group mb-2">
              <div class="col-xs col-lg-6" style="padding-right: 5%">

                <div class="form-floating input-group mb-2">
                  <input type="text" class="form-control" id="restaurantName" name="name" th:field="*{name}" required>
                  <label for="restaurantName">Restaurant name</label>


                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16"
                       style="position: absolute;margin:  5% 90%;"
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Restaurant name must be between 3 and 20 chars!">

                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                  </svg>
                </div>
                <div class="form-floating input-group mb-2">
                  <textarea class="form-control" id="restaurantDescription" th:field="*{description}" th:errorclass="is-invalid" style="height: 100px" required></textarea>
                  <label for="restaurantDescription">Restaurant Description</label>

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16"
                       style="position: absolute;margin:  5% 90%;;"
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Restaurant description must be max 30 chars!">

                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                  </svg>

                </div>
                <div class="form-floating input-group mb-2">
                  <input type="text" class="form-control" id="firmName" name="firmName" th:field="*{firmName}" required>
                  <label for="firmName">Firm name</label>
                </div>
                <div class="form-floating input-group mb-2">
                  <select class="form-select" id="guestsStatus" th:field="*{guestsStatus}">
                    <option th:each="guestsStatus : ${statusValues}" th:value="${guestsStatus}" th:text="${guestsStatus}">
                    </option>
                  </select>
                  <label for="guestsStatus">Guests status</label>
                </div>
                <div class="form-floating input-group mb-2">
                  <select class="form-select" id="deliveryStatus" th:field="*{deliveryStatus}">
                    <option th:each="guestsStatus : ${statusValues}" th:value="${guestsStatus}" th:text="${guestsStatus}">
                    </option>
                  </select>
                  <label for="deliveryStatus">Deliveries status</label>
                </div>

            </div>
              <div class="col-xs col-lg-6">

                <div class="form-floating input-group mb-2">
                  <select class="form-select" id="openDay" th:field="*{openDay}">
                    <option th:each="day : ${dayOfWeeks}" th:value="${day}" th:text="${day}" >
                    </option>
                  </select>
                  <label for="openDay">Restaurant open at day</label>
                </div>

                <div class="form-floating mb-2 ">
                  <input type="time" class="form-control" id="openTime" name="openTime" th:field="*{openTime}" required>
                  <label for="openTime">Restaurant open at (24hr clock)</label>
                </div>

                <div class="form-floating input-group mb-2">
                  <select class="form-select" id="closeDay" th:field="*{closeDay}">
                    <option th:each="day : ${dayOfWeeks}" th:value="${day}" th:text="${day}">
                    </option>
                  </select>
                  <label for="closeDay">Restaurant open at day</label>
                </div>

                <div class="form-floating mb-2 ">
                  <input type="time" class="form-control" id="closeTime" name="closeTime" th:field="*{closeTime}" required>
                  <label for="closeTime">Restaurant close at (24hr clock)</label>
                </div>

                <div class="form-floating input-group mb-2">
                  <textarea class="form-control" id="restaurantLocation" th:field="*{location}" th:errorclass="is-invalid" style="height: 100px" required></textarea>
                  <label for="restaurantLocation">Restaurant location</label>

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16"
                       style="position: absolute;margin:  5% 90%;;"
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Restaurant location must be max 30 chars!">

                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                  </svg>

                </div>
              </div>

            </div>
            </div>
            <button style="margin-top: 2%" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>