/*all background images we have got from https://www.pngaaa.com/*/


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.header-border {
    background-image: url(../files/header.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}

.form-background {
    background-image: url(../files/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 100%;
    text-align: center;
}

.form-login-index-background {
    background-image: url(../files/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}


.list-field{
    padding-top: 10px;
    background-image: url(../files/list.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 100%;
    text-align: center;
}

.items-header{
    padding-top: 10px;
    background-image: url(../files/items-header.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 100%;
}

.menu-items-background{
    padding-top: 1px;
    background-image: url(../files/items.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 100%;
}

/*.status-background{*/
/*    background-image: url(../files/status-image.png);*/
/*    height: 400px; !* You must set a specified height *!*/
/*    background-position: center; !* Center the image *!*/
/*    background-repeat: no-repeat; !* Do not repeat the image *!*/
/*    background-size: contain; !* Resize the background image to cover the entire container *!*/

/*    padding-top: 30px;*/
/*    padding-left: 100px;*/
/*    text-align: center;*/
/*}*/

.status-index-background{
    background-image: url(../files/status-image.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 100%;
    text-align: center;
}


.today-menu{
    background-image: url(../files/today-menu.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 100%;
    text-align: center;
    line-height: 1;
}

.news-background{
    background-image: url(../files/news.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    line-height: 1;
}
