.text-rotate{
    transform: rotate(-12deg);
}

.text-rotate p:not(:first-child) {
    padding-top: 20px;
}

.restaurant-status:first-child{
    padding-top: 32px;
}


.restaurant-status{
    font-size: large;
    font-weight: bold;
    padding-left: 12%;
}

.working-time{
    color: rgb(52, 118, 218);
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 15%;
}

.location{
    color: rgb(182, 218, 52);
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}

.category-value{
    text-align: left;
    font-size: large;
    padding: 0 27%
}

.separator {
    border-style: none none solid none;
    border-width: 1px;
    border-color: silver;
}

.dropdown-address-details{
    display: inline-block;
    width: 45%;
}
.restaurant-name{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    color: black;
    font-size: xxx-large;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 2%;
}

.restaurant-description{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
}

.index-login-form {
    margin-bottom: 20%;
}

.forgot-password{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.today-menu {
    font-family: 'Kaushan Script', cursive;
    color: brown;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 5%;
}
