@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.category-name{
    text-decoration: none;
    font-family: 'Rubik Dirt', cursive;
    display: inline-block;
    font-size: 26px;
    margin-right: 10px;
    width: 30%;
    float: left;
    color: darkslategrey;
}

.menu-items-header{
    font-family: 'Ultra', serif;
    font-size: xx-large;
    text-align: left;
    padding-left: 33%;
}

.menu-items-not-picked{
    font-family: 'Ultra', serif;
    font-size: large;
    text-align: left;
    padding-top: 5%;
    padding-left: 30%;
    width: 50%;
}

.menu-items-body-left{
    padding-left: 18%;
    width: 50%;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    text-align: left;
    padding-right: 0;
}

.menu-items-body-right{
    float: left;
    width: 34%;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    text-align: left;
    padding-left: 0;
}

.menu-item-left{
    display: inline-block;
    text-align: left;
    width: 55%;
}

.menu-item-price{
    width: 35%;
    text-align: right;
    padding: 0;
}

.menu-item-addToBag{
    width: 10%;
}

.item-info-left{
    position: absolute;
    width: 10%;
    left: -42px;
    margin-top: 3%;
}
.item-info-right{
    position: absolute;
    width: 10%;
    right: -20px;
    margin-top: 2%;
}
