<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container-fluid justify-content-center d-flex h-75">
        <div class="row w-50">
            <div class="col-xs col-lg-12 list-field">
                <div class="container-fluid h-100 w-50">
                    <p class="auth-header" style="padding-top: 0">Role control</p>
                    <p th:unless="${wrongInput} or ${userRegistered} or ${passwordChanged}" class="alert alert-primary">
                        Fill the form below to find user for control:
                    </p>
                    <form class="row mb-4"
                            th:action="@{/owner/user-control/find-user/}"
                            th:method="GET">

                        <div class="form-floating input-group mb-3">
                            <input type="text" class="form-control" id="username" name="username" required>
                            <label for="username" style="padding-left: 5%;">username</label>
                        </div>

                        <button type="submit" class="btn btn-primary" style="width: 25%; margin-left: 30%; margin-bottom: 10%">Find user</button>

                    </form>
                    <div class="row" style="font-weight: bold; font-size: x-large" th:if="${userNotFound}">
                        We dont have user with this username!
                    </div>

                    <div th:if="${userFound}" >
                        <div class="row mb-2" th:if="${userRoles.isEmpty()}" style="font-weight: bold; font-size: x-large">User dont have other roles than user role!</div>
                        <div class="row mb-3" th:each="userRole : ${userRoles}">
                           <div style="font-weight: bold; font-size: x-large;padding-left: 1%;">  <span th:text="${userRole}">

                           </span><a th:href="@{/owner/user-control/remove-role/{username}/{role} (username=${username},role=${userRole})}">
                               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                           </svg></a>
                           </div>
                        </div>

                            <div class="dropdown">
                                <button  class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add role</button>
                                <ul class="dropdown-menu" >
                                    <li th:each="role : ${roles}"><a class="dropdown-item" th:href="@{/owner/user-control/add-role/{username}/{role} (username=${username},role=${role})}" th:text="${role}"></a></li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>