<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="container-fluid justify-content-center d-flex list-field" >
        <div class="row w-50">
            <div class="col-xs col-lg-12">
                <p class="auth-header" style="padding: 0">User Control Panel</p>
                <p th:if="${settingsChanged}" class="alert alert-success">
                    Settings are changed successfully!
                </p>

                <div class="accordion accordion-flush mb-3" id="flushUserChanges" style="text-align: left">

                    <div th:replace="fragments/user-settings :: change-email"></div>


                    <div th:replace="fragments/user-settings :: password-change"></div>



                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingCurrentAddress">
                                <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSavedAddress" aria-expanded="false" aria-controls="flush-collapseAddress">
                                    Type here to view current saved addresses
                                </button>
                            </h2>
                            <div id="flush-collapseSavedAddress" class="accordion-collapse collapse" aria-labelledby="flush-headingCurrentAddress" data-bs-parent="#flushUserChanges">
                                <div class="accordion-body d-flex justify-content-center">
                                    <div class="w-100">

                                        <div th:each="address,status : ${user.address}" class="mb-1">
                                            <div style="display: inline-block; text-align: left; width: 30%; margin-left: 25%;" th:text="|Address name: ${address.name}|"></div>
                                            <div style="display: inline-block; text-align: left; width: 30%">

                                                <div style="display: inline-block" th:replace="fragments/user-settings :: address-details"></div>

                                                <button type="button" class="btn btn-primary" data-bs-target="#editAddressModal" data-bs-toggle="modal"
                                                        th:data-bs-addressName="${address.name}"
                                                        th:data-bs-addressCity="${address.city}"
                                                        th:data-bs-addressVillage="${address.village}"
                                                        th:data-bs-addressStreet="${address.street}"
                                                        th:data-bs-addressNumber="${address.number}"
                                                        th:data-bs-addressEntrance="${address.entrance}"
                                                        th:data-bs-addressFloor="${address.floor}"
                                                        th:data-bs-addressApartmentNumber="${address.apartmentNumber}"

                                                >Edit</button>
                                            </div>

                                            <div th:replace="fragments/user-settings :: address-edit"></div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    <div th:replace="fragments/user-settings :: add-address"></div>

                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const insideModalEditAddress = document.getElementById('editAddressModal')
    insideModalEditAddress.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget

    const addressNameRecipient = button.getAttribute('data-bs-addressName')
    const addressCityRecipient = button.getAttribute('data-bs-addressCity')
    const addressVillageRecipient = button.getAttribute('data-bs-addressVillage')
    const addressStreetRecipient = button.getAttribute('data-bs-addressStreet')
    const addressNumberRecipient = button.getAttribute('data-bs-addressNumber')
    const addressEntranceRecipient = button.getAttribute('data-bs-addressEntrance')
    const addressFloorRecipient = button.getAttribute('data-bs-addressFloor')
    const addressApartmentNumberRecipient = button.getAttribute('data-bs-addressApartmentNumber')

    const modalBodyAddressName = insideModalEditAddress.querySelector('.getAddressName input')
    const modalBodyAddressCity = insideModalEditAddress.querySelector('.getAddressCity input')
    const modalBodyAddressVillage = insideModalEditAddress.querySelector('.getAddressVillage input')
    const modalBodyAddressStreet = insideModalEditAddress.querySelector('.getAddressStreet input')
    const modalBodyAddressNumber = insideModalEditAddress.querySelector('.getAddressNumber input')
    const modalBodyAddressEntrance = insideModalEditAddress.querySelector('.getAddressEntrance input')
    const modalBodyAddressFloor = insideModalEditAddress.querySelector('.getAddressFloor input')
    const modalBodyAddressApartmentNumber = insideModalEditAddress.querySelector('.getAddressApartmentNumber input')

        modalBodyAddressName.value = addressNameRecipient
        modalBodyAddressCity.value = addressCityRecipient
        modalBodyAddressVillage.value = addressVillageRecipient
        modalBodyAddressStreet.value = addressStreetRecipient
        modalBodyAddressNumber.value = addressNumberRecipient
        modalBodyAddressEntrance.value = addressEntranceRecipient
        modalBodyAddressFloor.value = addressFloorRecipient
        modalBodyAddressApartmentNumber.value = addressApartmentNumberRecipient

    })</script>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>