<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="container-fluid justify-content-center d-flex list-field" >
        <div class="row w-50">
            <div class="col-xs col-lg-12">
                <p class="page-name" style="padding: 0">User Control Panel</p>
                <p th:if="${settingsChanged}" class="alert alert-success">
                    Settings are changed successfully!
                </p>
                <form
                        th:action="@{/user/settings/authentication}"
                        th:method="POST"
                th:object="${userSettingsDTO}">

                <div class="accordion accordion-flush mb-3" id="flushUserChanges" style="text-align: left">

<!--                    Email changes-->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEmail">
                            <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEmail" aria-expanded="false" aria-controls="flush-collapseEmail">
                                <svg  th:if="${#fields.hasErrors('email')}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                Type here to change your email
                            </button>
                        </h2>
                        <div id="flush-collapseEmail" class="accordion-collapse collapse" aria-labelledby="flush-headingEmail" data-bs-parent="#flushUserChanges">
                            <div class="accordion-body d-flex justify-content-center">
                               <div class="w-50">
                                        <div class="form-group row mb-1">
                                            <label for="staticEmail" class="col-sm-3 col-form-label">Old Email: </label>
                                            <div class="col-sm-8 input-group-prepend">
                                                <span class="input-group-text" id="staticEmail" th:text="${user.email}"></span>
                                            </div>
                                        </div>
                                   <div class="form-group row">
                                       <label for="email" class="col-sm-3 col-form-label">New email</label>
                                       <div class="col-sm-8">
                                           <div class="input-group has-validation">
                                               <input type="text" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid" placeholder="Enter new email">
                                               <div class="invalid-tooltip" th:if="${#fields.hasErrors('email')}" th:each="e : ${#fields.errors('email')}" th:text="${e}" style="font-size: x-small"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>


<!--                  End email changes-->


                    <!--                    password changes-->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingPassword">
                            <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePassword" aria-expanded="false" aria-controls="flush-collapsePassword">
                                <svg  th:if="${#fields.hasErrors('currentPassword')} or ${#fields.hasErrors('confirmPassword')}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>  Type here to change your password
                            </button>
                        </h2>
                        <div id="flush-collapsePassword" class="accordion-collapse collapse" aria-labelledby="flush-headingPassword" data-bs-parent="#flushUserChanges">
                            <div class="accordion-body d-flex justify-content-center">
                                <div class="w-50">
                                    <div class="form-group row mb-2">
                                        <label for="currentPassword" class="col-sm-5 col-form-label">Current password: </label>
                                        <div class="col-sm-7">
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control" id="currentPassword" th:field="*{currentPassword}" th:errorclass="is-invalid" placeholder="Enter current password">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('currentPassword')}" th:each="e : ${#fields.errors('currentPassword')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-2">
                                        <label for="newPassword" class="col-sm-5 col-form-label">New password: </label>
                                        <div class="col-sm-7">
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control" id="newPassword" th:field="*{password}" th:errorclass="is-invalid" minlength="5" placeholder="Enter new password">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('password')}" th:each="e : ${#fields.errors('password')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm password: </label>
                                        <div class="col-sm-7">
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" th:errorclass="is-invalid" minlength="5" placeholder="Enter confirm password">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('confirmPassword')}" th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                  End password changes-->



                    <!--                    Address changes-->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingAddress">
                            <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAddress" aria-expanded="false" aria-controls="flush-collapseAddress">
                                <svg
                                        th:if="${#fields.hasErrors('addressCity')} or ${#fields.hasErrors('addressApartmentNumber')} or ${#fields.hasErrors('addressFloor')} or ${#fields.hasErrors('addressEntrance')} or ${#fields.hasErrors('addressStreet')} or ${#fields.hasErrors('addressNumber')} or ${#fields.hasErrors('addressVillage')}"
                                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                Type here to change your address
                            </button>
                        </h2>

                        <div id="flush-collapseAddress" class="accordion-collapse collapse" aria-labelledby="flush-headingAddress" data-bs-parent="#flushUserChanges">
                            <div class="accordion-body d-flex justify-content-center">

                                <div class="w-100">

                                    <div class="form-group row mb-1">
                                        <label for="city" class="col-sm-3 col-form-label">City: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="oldCity" th:text="${user.address.city}==null ? 'empty' : ${user.address.city}"></span>
                                                </div>
                                                <input type="text" class="form-control" id="city" th:value="null" th:field="*{addressCity}" th:errorclass="is-invalid" aria-describedby="oldCity" placeholder="Enter new city">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressCity')}" th:each="e : ${#fields.errors('addressCity')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-1">
                                        <label for="village" class="col-sm-3 col-form-label">Village: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="old-village"  th:text="${user.address.village}==null ? 'empty' : ${user.address.village}"></span>
                                                </div>
                                                <input type="text" class="form-control" id="village" aria-describedby="old-village" placeholder="Enter new village" th:field="*{addressVillage}" th:errorclass="is-invalid">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressVillage')}" th:each="e : ${#fields.errors('addressVillage')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-1">
                                        <label for="street" class="col-sm-3 col-form-label">Street: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="old-street"  th:text="${user.address.street}==null ? 'empty' : ${user.address.street}"></span>
                                                </div>
                                                <input type="text" class="form-control" id="street" aria-describedby="old-street" placeholder="Enter new street" th:field="*{addressStreet}" th:errorclass="is-invalid">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressStreet')}" th:each="e : ${#fields.errors('addressStreet')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row mb-1">
                                        <label for="houseOrBlockNumber" class="col-sm-3 col-form-label">House or block number: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="old-number" th:text="${user.address.number}==0 ? 'empty' : ${user.address.number}"></span>
                                                </div>
                                                <input type="number" class="form-control" id="houseOrBlockNumber" aria-describedby="old-street" placeholder="Enter new number" th:field="*{addressNumber}" th:errorclass="is-invalid">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressNumber')}" th:each="e : ${#fields.errors('addressNumber')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-1">
                                        <label for="entrance" class="col-sm-3 col-form-label">Block entrance: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="old-entrance" th:text="${user.address.entrance}==null ? 'empty' : ${user.address.entrance}"></span>
                                                </div>
                                                <input type="text" class="form-control" id="entrance" aria-describedby="old-entrance" th:value="null" placeholder="Enter new block entrance" th:field="*{addressEntrance}" th:errorclass="is-invalid">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressEntrance')}" th:each="e : ${#fields.errors('addressEntrance')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row mb-1">
                                        <label for="floor" class="col-sm-3 col-form-label">floor: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="old-floor" th:text="${user.address.floor}==0 ? 'empty' : ${user.address.floor}"></span>
                                                </div>
                                                <input type="number" class="form-control" id="floor" aria-describedby="old-street" placeholder="Enter new block floor" th:field="*{addressFloor}" th:errorclass="is-invalid">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressFloor')}" th:each="e : ${#fields.errors('addressFloor')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="aNumber" class="col-sm-3 col-form-label">Apartment number: </label>
                                        <div class="col-sm-9">
                                            <div class="input-group has-validation">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="old-aNumber" th:text="${user.address.apartmentNumber}==0 ? 'empty' : ${user.address.apartmentNumber}"></span>
                                                </div>
                                                <input type="number" class="form-control" id="aNumber" aria-describedby="old-aNumber" placeholder="Enter new apartment number" th:field="*{addressApartmentNumber}" th:errorclass="is-invalid">
                                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('addressApartmentNumber')}" th:each="e : ${#fields.errors('addressApartmentNumber')}" th:text="${e}" style="font-size: xx-small"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </div>
                    </div>

                    <!--                  End address changes-->

                </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>