!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Restaurant</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<!--Email change configuration-->
<div th:fragment="change-email">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEmail">
            <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEmail" aria-expanded="false" aria-controls="flush-collapseEmail">
                <svg  th:if="${haveErrorChangeEmail}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                Type here to change your email
            </button>
        </h2>
        <div id="flush-collapseEmail" class="accordion-collapse collapse" aria-labelledby="flush-headingEmail" data-bs-parent="#flushUserChanges">
            <div class="accordion-body d-flex justify-content-center">
                <div class="w-50">
                    <form th:action="@{/user/settings/change/email/processing}"
                          th:method="POST"
                          th:object="${changeEmail}">

                        <div class="form-group row mb-2">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Old Email: </label>
                            <div class="col-sm-8 input-group-prepend">
                                <span class="input-group-text" id="staticEmail" th:text="${user.email}"></span>
                                <input type="text" id="currentEmail" name="currentEmail" th:value="${user.email}" hidden>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="email" class="col-sm-3 col-form-label">New email</label>
                            <div class="col-sm-8">
                                <div class="input-group has-validation">
                                    <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid" placeholder="Enter new email" required>
                                    <div class="invalid-tooltip" th:if="${#fields.hasErrors('email')}" th:each="e : ${#fields.errors('email')}" th:text="${e}" style="font-size: x-small"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 0 27%">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!--end of email change-->


<!--password change-->

<div th:fragment="password-change">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingPassword">
            <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePassword" aria-expanded="false" aria-controls="flush-collapsePassword">
                <svg  th:if="${haveErrorChangePassword}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>  Type here to change your password
            </button>
        </h2>
        <div id="flush-collapsePassword" class="accordion-collapse collapse" aria-labelledby="flush-headingPassword" data-bs-parent="#flushUserChanges">
            <div class="accordion-body d-flex justify-content-center">
                <div class="w-50">
                    <form
                            th:action="@{/user/settings/change/password/processing}"
                            th:object="${changePassword}"
                            th:method="POST">

                        <div class="form-group row mb-2">
                            <label for="currentPassword" class="col-sm-5 col-form-label">Current password: </label>
                            <div class="col-sm-7">
                                <div class="input-group has-validation">
                                    <input type="password" class="form-control" id="currentPassword" th:field="*{currentPassword}" th:errorclass="is-invalid" placeholder="Enter current password" required>
                                    <div class="invalid-tooltip" th:if="${#fields.hasErrors('currentPassword')}" th:each="e : ${#fields.errors('currentPassword')}" th:text="${e}" style="font-size: xx-small"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label for="newPassword" class="col-sm-5 col-form-label">New password: </label>
                            <div class="col-sm-7">
                                <div class="input-group has-validation">
                                    <input type="password" class="form-control" id="newPassword" th:field="*{password}" th:errorclass="is-invalid" placeholder="Enter new password" required>
                                    <div class="invalid-tooltip" th:if="${#fields.hasErrors('password')}" th:each="e : ${#fields.errors('password')}" th:text="${e}" style="font-size: xx-small"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm password: </label>
                            <div class="col-sm-7">
                                <div class="input-group has-validation">
                                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" th:errorclass="is-invalid" required placeholder="Enter confirm password">
                                    <div class="invalid-tooltip" th:if="${#fields.hasErrors('confirmPassword')}" th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}" style="font-size: xx-small"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 0 27%">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--end of password change-->


<!--Add address-->
<div th:fragment="add-address">
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingAddress">
        <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAddress" aria-expanded="false" aria-controls="flush-collapseAddress">
            Type here to add new address
        </button>
    </h2>
    <div id="flush-collapseAddress" class="accordion-collapse collapse" aria-labelledby="flush-headingAddress" data-bs-parent="#flushUserChanges">
        <div class="accordion-body d-flex justify-content-center">
            <div class="w-100">

                <form th:action="@{/user/add/address/processing}"
                      th:object="${addressDTO}"
                      th:method="POST">

                    <div class="form-group row mb-1">
                        <label for="name" class="col-sm-3 col-form-label">Address name: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid" placeholder="Enter a name of your address" minlength="3" max="10" required>
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('name')}" th:each="e : ${#fields.errors('name')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label for="city" class="col-sm-3 col-form-label">City: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="city" th:field="*{city}" th:errorclass="is-invalid" placeholder="Enter new city">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('city')}" th:each="e : ${#fields.errors('city')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label for="village" class="col-sm-3 col-form-label">Village: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="village" aria-describedby="old-village" placeholder="Enter new village" th:field="*{village}" th:errorclass="is-invalid">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('village')}" th:each="e : ${#fields.errors('village')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label for="street" class="col-sm-3 col-form-label">Street: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="street" aria-describedby="old-street" placeholder="Enter new street" th:field="*{street}" th:errorclass="is-invalid">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('street')}" th:each="e : ${#fields.errors('street')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row mb-1">
                        <label for="houseOrBlockNumber" class="col-sm-3 col-form-label">House or block number: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="number" class="form-control" id="houseOrBlockNumber" aria-describedby="old-street" placeholder="Enter new number" th:field="*{number}" th:errorclass="is-invalid">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('number')}" th:each="e : ${#fields.errors('number')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label for="entrance" class="col-sm-3 col-form-label">Block entrance: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="entrance" aria-describedby="old-entrance" placeholder="Enter new block entrance" th:field="*{entrance}" th:errorclass="is-invalid">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('entrance')}" th:each="e : ${#fields.errors('entrance')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row mb-1">
                        <label for="floor" class="col-sm-3 col-form-label">floor: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="number" class="form-control" id="floor" aria-describedby="old-street" placeholder="Enter new block floor" th:field="*{floor}" th:errorclass="is-invalid">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('floor')}" th:each="e : ${#fields.errors('floor')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="aNumber" class="col-sm-3 col-form-label">Apartment number: </label>
                        <div class="col-sm-9">
                            <div class="input-group has-validation">
                                <input type="number" class="form-control" id="aNumber" aria-describedby="old-aNumber" placeholder="Enter new apartment number" th:field="*{apartmentNumber}" th:errorclass="is-invalid">
                                <div class="invalid-tooltip" th:if="${#fields.hasErrors('apartmentNumber')}" th:each="e : ${#fields.errors('apartmentNumber')}" th:text="${e}" style="font-size: xx-small"></div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin: 0 27%">Add address</button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
<!--End of add address-->

<div style="display: inline-block" th:fragment="address-details">
<!--Address details-->

    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Details
        </button>
        <div class="dropdown-menu" style="width: 450%; padding-left: 10px">
            <div class="dropdown-address-details">City: </div>
            <div class="dropdown-address-details" th:text="${address.city}==null ? 'empty':${address.city}"></div>
            <hr class="separator">
            <div class="dropdown-address-details">Village: </div>
            <div class="dropdown-address-details" th:text="${address.village} ==null ? 'empty':${address.village}"></div>
            <hr class="separator">
            <div class="dropdown-address-details">Street: </div>
            <div class="dropdown-address-details" th:text="${address.street}==null ? 'empty':${address.street}"></div>
            <hr class="separator">
            <div class="dropdown-address-details">Village: </div>
            <div class="dropdown-address-details" th:text="${address.village} == 0 ? 'empty':${address.number}"></div>
            <hr class="separator">
            <div class="dropdown-address-details">Entrance: </div>
            <div class="dropdown-address-details" th:text="${address.entrance}==null ? 'empty':${address.entrance}"></div>
            <hr class="separator">
            <div class="dropdown-address-details">Floor: </div>
            <div class="dropdown-address-details" th:text="${address.floor} == 0 ? 'empty':${address.floor}"></div>
            <hr class="separator">
            <div class="dropdown-address-details">Apartment Number: </div>
            <div class="dropdown-address-details" th:text="${address.apartmentNumber} == 0 ? 'empty':${address.apartmentNumber}"></div>
            <hr class="separator">
        </div>
    </div>


</div>

<!--end of address details-->

<!--address edit-->
<div th:fragment="address-edit">
<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalHeader" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAddressModalHeader">Edit category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p class="alert alert-primary">
                    Fill the form below:</p>


                <form class="mx-auto bg-blur auth-form"
                      id="editAddressModalForm"
                      th:method="post"
                      th:action="@{/user/settings/edit/address/}"
                      th:object="${addressDTO}"
                      style="padding: 0">

                    <!--                                                                    id-->

                    <!--                                                                    name-->

                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressName" name="name" th:field="*{name}">
                        <label for="editAddressName">Address name</label>

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16"
                             style="position: absolute;margin:  4% 57%;"
                             data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Address name must be between 3 and 10 chars!">

                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                        </svg>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('name')}" th:each="e : ${#fields.errors('name')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressName"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressName" name="currentName" value="" th:field="*{currentName}" readonly>
                            <label for="currentAddressName">Current name</label>
                        </div>
                    </div>


                    <!--                                                                    city -->
                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressCity" name="addressCity" th:field="*{city}">
                        <label for="editAddressCity">City</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('city')}" th:each="e : ${#fields.errors('city')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressCity"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressCity" name="currentCity" readonly>
                            <label for="currentAddressCity">Current city</label>
                        </div>
                    </div>

                    <!--                                                                    village -->

                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressVillage" name="addressVillage" th:field="*{village}">
                        <label for="editAddressvillage">village</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('village')}" th:each="e : ${#fields.errors('village')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressVillage"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressVillage" name="currentVillage" readonly>
                            <label for="currentAddressVillage">Current Street</label>
                        </div>
                    </div>

                    <!--                                                                    street-->

                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressStreet" name="name" th:field="*{street}">
                        <label for="editAddressCity">Street</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('street')}" th:each="e : ${#fields.errors('street')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressStreet"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressStreet" name="currentStreet" readonly>
                            <label for="currentAddressStreet">Current street</label>
                        </div>
                    </div>
                    <!--                                                                    number-->

                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressNumber" name="name" th:field="*{number}">
                        <label for="editAddressNumber">Number</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('number')}" th:each="e : ${#fields.errors('number')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressNumber"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressNumber" name="currentNumber" readonly>
                            <label for="currentAddressNumber">Current number</label>
                        </div>
                    </div>
                    <!--                                                                    entrance-->

                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressEntrance" name="name" th:field="*{entrance}">
                        <label for="editAddressEntrance">Entrance</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('entrance')}" th:each="e : ${#fields.errors('entrance')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressEntrance"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressEntrance" name="currentEntrance" readonly>
                            <label for="currentAddressEntrance">Current entrance</label>
                        </div>
                    </div>
                    <!--                                                                    floor-->

                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressFloor" name="name" th:field="*{floor}">
                        <label for="editAddressFloor">Floor</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('floor')}" th:each="e : ${#fields.errors('floor')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressFloor"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressFloor" name="currentFloor" readonly>
                            <label for="currentAddressFloor">Current floor</label>
                        </div>
                    </div>

                    <!--                                                                    apartmentNumber-->
                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="editAddressApartmentNumber" name="name" th:field="*{apartmentNumber}">
                        <label for="editAddressApartmentNumber">apartmentNumber</label>

                        <div class="invalid-tooltip" th:if="${#fields.hasErrors('apartmentNumber')}" th:each="e : ${#fields.errors('apartmentNumber')}" th:text="${e}" style="font-size: x-small"></div>

                        <div class="input-group-append form-floating getAddressApartmentNumber"  style="width: 35%">
                            <input type="text" class="form-control" id="currentAddressApartmentNumber" name="currentApartmentNumber" readonly>
                            <label for="currentAddressApartmentNumber">Current Apartment Number</label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="form_submitEditAddress()" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--end of address edit-->
</body>
</html>