/*all background images we have got from https://www.pngaaa.com/*/


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.gradient-img-background:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
            45deg,
            rgba(53, 52, 52, 0.7),
            rgba(66, 66, 66, 0.7) 100%
    );
}


.welcome{
    font-size:50px;
    font-family: 'Lobster', cursive;
}


.welcome:nth-child(2){
    font-size: medium;
    font-family:  Open Sans, sans-serif;;
}


.top-items{
    background-image: url(../files/top-items.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    text-align: center;
}

header {
    background-image: url(../files/header.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% 100%;
    text-align: center;
}

.form-background {
    background-image: url(../files/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% 100%;
    text-align: center;
}


.list-field{
    padding-top: 10px;
    background-image: url(../files/list.png);
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 100%;
    text-align: center;
}

.top-items p:first-child{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 20px;
}

.top-items p:not(:first-child){
    color: black;
    font-size: large;
    font-weight: bold;
    padding-top: 2px;
}


.status-background{
    background-image: url(../files/status-image.png);
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */

    padding-top: 30px;
    padding-left: 100px;
    text-align: center;
}

.today-menu{
    background-image: url(../files/today-menu.png);
    background-size:contain;
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    text-align: center;

    font-family: 'Kaushan Script', cursive;
    color: brown;
    font-size:xx-large;
    font-weight: bold;
    padding-top: 150px;

}

.text-rotate{
    transform: rotate(-15deg);
}

.text-rotate p:first-child{
    padding-bottom: 20px;
}
.text-rotate p:not(:first-child) {
    padding-top: 20px;
}

.restaurant-status:first-child{
    padding-top: 32px;
}

.restaurant-status{
    color: rgb(12, 223, 30);
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}

.working-time{
    color: rgb(52, 118, 218);
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}

.location{
    color: rgb(182, 218, 52);
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}

