
html{
    height: 100%;
}

body{
    font-family: Open Sans, sans-serif;
    background-image: url(../files/background.jpg);
    margin  : 0 10px;
    height: 100%;
}

header{
    height: 25%;
}

main{
    height: 70%;
}

footer{
    color: red;
    height: 5%;
}
