.auth-form{
    color: black;
    font-size: large;
    padding: 70px 7%;
}

.auth-form-row{
    padding: 0 2%;
}

.auth-header{
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    color: black;
    padding-top: 5%;
}