
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
nav ul{
    padding: 10px 0;
}

.navigation{
    border-style: solid solid none solid;
    border-width: 1px;
    border-radius: 3px;
    padding-right: 1%;
}


.restaurant-name{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    color: black;
    font-size: xxx-large;
    font-weight: bold;
}

.restaurant-description{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
}

/*.dropdown-menu li a{*/
/*    padding: 10px 10px;*/
/*}*/

.dropdown-menu{
    width: 10px;
}

.navigation-item{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(214, 116, 114)
}

.profile{
    text-align: right;
    color: black;
    font-size: 25px;
    font-weight: bold;
}


