.top-items p:first-child{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 20px;
}

.top-items p:not(:first-child){
    color: black;
    font-size: large;
    font-weight: bold;
    padding-top: 2px;
}


.text-rotate{
    transform: rotate(-15deg);
}

.text-rotate p:first-child{
    padding-bottom: 20px;
}
.text-rotate p:not(:first-child) {
    padding-top: 20px;
}

.restaurant-status:first-child{
    padding-top: 32px;
}


.restaurant-status{
    color: rgb(12, 223, 30);
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}

.working-time{
    color: rgb(52, 118, 218);
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}

.location{
    color: rgb(182, 218, 52);
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}


.welcome{
    font-size:50px;
    font-family: 'Lobster', cursive;
}


.welcome:nth-child(2){
    font-size: medium;
    font-family:  Open Sans, sans-serif;;
}

.gradient-img-background:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
            45deg,
            rgba(53, 52, 52, 0.7),
            rgba(66, 66, 66, 0.7) 100%
    );
}

.category-value{
    text-align: left;
    font-size: large;
    padding: 0 27%
}

.separator {
    border-style: none none solid none;
    border-width: 1px;
    border-color: silver;
}

.dropdown-address-details{
    display: inline-block;
    width: 45%;
}