@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(positions.css);
@import url(index.css);
@import url(header.css);
@import url(forms.css);

body{
  font-family: Open Sans, sans-serif;
  background-image: url(../files/background.jpg);
  line-height: 0;
  color: azure;
  margin  : 0 10px;
}
