<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="container-fluid h-100">
        <div class="row" style="height: auto">
            <div class="col-xs col-lg-12 items-header" style="padding: 4% 20% 4% 25%; height: 100%">
                <p th:if="${categories.isEmpty()}">Categories are empty!</p>
                <div th:each="category : ${categories}">
                <a class="category-name" th:href="@{/menu/items/get/{categoryName}(categoryName=${category.getName()})}" th:text="${category.name}"
                   data-bs-toggle="tooltip" data-bs-placement="left" th:data-bs-title="${category.description}"></a>
                </div>
            </div>
        </div>
        <div class="row" style="height: 65%">
            <div class="col-xs col-lg-12 menu-items-background">
                <p class="menu-items-not-picked" th:if="${itemsLeft.isEmpty()}">This category is empty!</p>
                <div class="container-fluid h-100" th:unless="${itemsLeft.isEmpty()}">
                    <div class="col-xs col-lg-12">
                        <p class="menu-items-header" th:text="${currentCategory}"></p>
                    </div>
                    <div class="row" style="height: 85%">
                        <div class="col-xs col-lg-6 menu-items-body-left">

                            <div class="container-fluid h-100">
                                <div class="row separator" th:each="item : ${itemsLeft}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="blue" class="bi bi-info-circle item-info-left" viewBox="0 0 16 16"
                                         data-bs-toggle="tooltip" data-bs-placement="left" th:data-bs-title="${item.description}">

                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>
                                    <div class="menu-item-left" th:text="${item.name}"></div>
                                    <div class="menu-item-price" th:text="|${item.price} BGN|"></div>
                                    <div class="menu-item-addToBag" th:if="${coreInformation.deliveryStatus}==${coreInformation.deliveryStatus.OPEN}">
                                   <a th:href="@{/menu/items/add/bag/{itemName}(itemName=${item.name})}"> <svg style="margin-bottom: 10px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                   </svg></a>
                                    </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs col-lg-6 menu-items-body-right">
                            <div class="container-fluid h-100">
                                <div class="row separator" th:each="item : ${itemsRight}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="blue" class="bi bi-info-circle item-info-right" viewBox="0 0 16 16"
                                         data-bs-toggle="tooltip" data-bs-placement="right" th:data-bs-title="${item.description}">

                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>
                                    <div class="menu-item-left" th:text="${item.name}"></div>
                                    <div class="menu-item-price" th:text="|${item.price} BGN|"></div>
                                    <div class="menu-item-addToBag" th:if="${coreInformation.deliveryStatus}==${coreInformation.deliveryStatus.OPEN}">
                                        <a th:href="@{/menu/items/add/bag/{itemName}(itemName=${item.name})}"> <svg style="margin-bottom: 10px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                        </div>
                </div>
            </div>
            </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>