<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main class="form-background">
    <div class="container-fluid justify-content-center d-flex">
        <div class="row w-25">
            <div class="col-xs m-2 col-lg-12">
                <form class="mx-auto bg-blur auth-form"
                      th:method="post"
                      th:action="@{/auth/password-reset/verify/processing}">
                    <p class="auth-header">Login</p>

                    <div>
                        <p th:unless="${confirmPasswordError} or ${passwordLengthError} or ${passwordEquals}" class="alert alert-primary">
                            Fill the password below
                        </p>

                        <p th:if="${confirmPasswordError}" class="errors alert alert-danger">
                            Passwords are not equal!
                        </p>

                        <p th:if="${passwordEquals}" class="errors alert alert-danger">
                            Password must be different than current!
                        </p>

                        <p th:if="${passwordLengthError}" class="errors alert alert-danger">
                            Password must be at least 5 symbols!
                        </p>
                    </div>

                    <input type="hidden" name="email" th:value="${email}">
                    <input type="hidden" name="token" th:value="${token}">
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="password" name="password" min="3">
                        <label for="password">Password</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" min="3">
                        <label for="password">Confirm Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>