<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="container-fluid h-100">
        <div class="row" style="height: 60%;">
            <div class=" col-xs col-lg-6 container-fluid header-border">
                <div class="w-100 centered">
                    <div class="restaurant-name">
                        <div>Welcome to restaurant</div>
                        <div th:unless="${coreInformation.isConfigured()}" th:text="|&quot'Empty'&quot|"></div>
                        <div th:if="${coreInformation.isConfigured()}" th:text="|&quot${coreInformation.name}&quot|"></div>
                    </div>
                <div class="restaurant-description" th:unless="${coreInformation.isConfigured()}">empty</div>
                <div class="restaurant-description" th:if="${coreInformation.isConfigured()}" th:text="${coreInformation.description}"></div>
                </div>
            </div>
            <div class=" col-xs col-lg-5 container-fluid form-login-index-background">
                <div class="centered w-75">
                     <form style="width: 50%" sec:authorize="isAnonymous()" class="mx-auto bg-blur index-login-form"
                          th:method="post"
                          th:action="@{/auth/login}">
                        <p class="auth-header">Login</p>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" name="username" th:value="${username}">
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="password">Password</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col col-xs col-lg-6">
                                <div style="text-align: left">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"/>
                                    <label class="form-check-label" for="form2Example31" style="font-weight: bold">Remember me</label>
                                </div>
                            </div>
                            <div class="col col-xs col-lg-6">
                                <a class="forgot-password" th:href="@{/auth/password-reset}">Forgot password?</a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <div sec:authorize="isAuthenticated()" style="font-size: x-large; font-weight: bold;">
                        <div class="mb-3" style="padding-bottom: 10%; color: brown;" th:if="${activeReservations.isEmpty()}">
                            You dont have active reservations!
                        </div>
                        <div th:unless="${activeReservations.isEmpty()}">
                            <div th:each="reservation: ${activeReservations}" style="color: darkseagreen">
                                <div class="mb-3" style="padding-bottom: 10%">
                                    You have active reservation for <span style="text-decoration: underline" th:text="${reservation.reservationFor}"></span>
                                    with status <span  th:text="${reservation.status}" style="text-decoration: underline"></span> for
                                    <span style="text-decoration: underline" th:text="${reservation.countOfPersons}"></span> persons!</div>
                            </div>
                        </div>
                        <div th:if="${activeDeliveries.isEmpty()}" style="color: brown;">You dont have active deliveries</div>
                        <div th:unless="${activeDeliveries.isEmpty()}">
                        <div th:each="delivery: ${activeDeliveries}" style="color: darkseagreen">
                            You have active delivery for <span  th:text="${delivery.receiveTime}" style="text-decoration: underline"></span>
                            with status <span  th:text="${delivery.deliveryStatus}" style="text-decoration: underline"></span>!
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="row" style="height: 60%">
            <div class="col-xs m-3 col-lg-4 today-menu">
                <div th:if="${todayLunchMenu==null} or ${todayLunchMenu.status}==${todayLunchMenu.status.DISABLED}">
                    <div class="text-rotate" style="width: 70%;padding-left: 20%;padding-top: 5%; margin-left: 5%;">We dont have lunch menu for today!</div>
                </div>
                <div th:unless="${todayLunchMenu==null} or ${todayLunchMenu.status.DISABLED}">
                <div class="text-rotate" style="padding-bottom: 2%">Lunch menu for today is: </div>
                <div class="text-rotate" style="padding-bottom: 1px" th:text="${todayLunchMenu.itemName1}"></div>
                <div class="text-rotate" style="padding-bottom: 1px" th:text="${todayLunchMenu.itemName2}"></div>
                <div class="text-rotate" th:text="|${todayLunchMenu.price} BGN|"></div>
                    <div th:if="${coreInformation.deliveryStatus}==${coreInformation.deliveryStatus.OPEN}" style="position: absolute; top: 83%; left: 23%;">
                        <a th:href="@{/menu/items/add/bag/{itemName}(itemName='Lunch menu')}"><svg style="margin-bottom: 10px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg></a></div>
                </div>

            </div>
            <div class="col-xs m-3 col-lg-3 news-background">
                <p class="auth-header" style="padding: 15px 0">News</p>
                <div class="container">
                    <p th:if="${news.isEmpty()}" style="font-weight: bold; word-wrap: break-word;">We dont have news for you!</p>
                    <p th:unless="${news.isEmpty()}" style="font-weight: bold; word-wrap: break-word;" th:each="newsActive : ${news}" th:text="${newsActive.news}"></p>
                </div>
            </div>
            <div class="col-xs m-3 col-lg-4 status-index-background">
                <div th:if="${coreInformation.isConfigured()}">
                    <div th:if="${coreInformation.guestsStatus}==${coreInformation.guestsStatus.OPEN}" class="restaurant-status" style="color: greenyellow" th:text="|Restaurant is open for guests!|"></div>
                    <div th:if="${coreInformation.guestsStatus}==${coreInformation.guestsStatus.CLOSED}" class="restaurant-status" style="color: red" th:text="|Restaurant is closed for guests!|"></div>

                <div th:if="${coreInformation.deliveryStatus}==${coreInformation.deliveryStatus.OPEN}" class="restaurant-status" style="color: greenyellow" th:text="|Restaurant is open for deliveries!|"></div>
                <div th:if="${coreInformation.deliveryStatus}==${coreInformation.deliveryStatus.CLOSED}" class="restaurant-status" style="color: red" th:text="|Restaurant is closed for deliveries!|"></div>

                <div class="working-time">
                    <div>Working time:</div>
                    <div th:text="|${coreInformation.openDay} - ${coreInformation.closeDay}|"></div>
                    <div th:text="|${coreInformation.openTime}h - ${coreInformation.closeTime}h|"></div>
                </div>
                </div>

                <div th:unless="${coreInformation.isConfigured()}" style="padding-top: 20%;margin-left: 15%;color: yellow;font-weight: bold;font-size: larger;">Website is not configured!</div>
            </div>
        </div>
    </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>