<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main>
  <div class="container-fluid justify-content-center d-flex h-75">
    <div class="row" style="width: 60%">
      <div class="col-xs col-lg-12 list-field">
        <div class="container-fluid h-100" style="padding: 0 8%;">
          <div class="row">
            <p class="auth-header" style="padding: 10px 0">Active reservation</p>
          </div>

          <div class="container-fluid" style="padding: 0;">

              <div class="row" style="font-weight: bold">
                  <div class="col-xs col-lg-3" style="text-align: left;padding: 0">Reservation for</div>
                  <div class="col-xs col-lg-2" style="text-align: center">Count of person</div>
                  <div class="col-xs col-lg-3" style="text-align: center">Status</div>
                  <div class="col-xs col-lg-3" style="text-align: center">Phone number</div>
                  <div style="text-align: right" class="col-xs col-lg-1"></div>
                  <div class="separator"></div>
              </div>
              <div th:if="${activeReservation.isEmpty()}" class="row" style="font-weight: bold;font-size: x-large;">We dont have active reservations!</div>

            <div th:unless="${activeReservation.isEmpty()}" class="row" style="font-weight: bold" th:each="reservation : ${activeReservation}">
                  <div th:text="${reservation.reservationFor}" class="col-xs col-lg-3" style="text-align: left;padding: 0"></div>
                  <div class="col-xs col-lg-2" th:text="${reservation.countOfPersons}" style="text-align: center"></div>
                  <div th:text="${reservation.status}" class="col-xs col-lg-3" style="text-align: center"></div>
                  <div th:text="${reservation.phoneNumber}" class="col-xs col-lg-3" style="text-align: center"></div>
                  <div style="text-align: right" class="col-xs col-lg-1">
                    <div th:unless="${reservation.status}!=${reservation.status.PENDING}">
                      <a th:href="@{/user/reservations/delete/{reservationId}(reservationId=${reservation.id})}"><button class="btn btn-primary btn-sm" style="float: left;margin-right: 5%;padding: 2%;margin-left: 15%;">Cancel</button></a>
                    </div>
                      <button class="btn btn-secondary btn-sm" th:if="${reservation.status}!=${reservation.status.PENDING}" style="float: left;margin-right: 5%;padding: 2%;margin-left: 15%;"
                              data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="You can cancel reservation only when reservation status is pending!">Cancel</button>
                  </div>
                <div class="separator" ></div>
            </div>

              <div class="row">
                  <p class="auth-header" style="padding: 10px 0">History reservation</p>
              </div>

              <div class="container-fluid" style="padding: 0;">

                  <div th:if="${history.isEmpty()}" class="row" style="font-weight: bold;font-size: x-large;">History is empty!
                      <div class="separator"></div>
                  </div>

                  <div th:unless="${history.isEmpty()}" class="row" style="font-weight: bold" th:each="reservation : ${history}">
                      <div th:text="${reservation.reservationFor}" class="col-xs col-lg-3" style="text-align: left;padding: 0"></div>
                      <div class="col-xs col-lg-2" th:text="${reservation.countOfPersons}" style="text-align: center"></div>
                      <div th:text="${reservation.status}" class="col-xs col-lg-3" style="text-align: center"></div>
                      <div th:text="${reservation.phoneNumber}" class="col-xs col-lg-3" style="text-align: center"></div>
                      <div style="text-align: right" class="col-xs col-lg-1"></div>
                      <div class="separator"></div>
                  </div>
              </div>

          </div>



        </div>
      </div>
    </div>

  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>