<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main>
    <form class="mx-auto w-25 bg-blur login-form"
          th:method="post"
          th:action="@{/auth/login}">
        <p class="page-name">Login</p>
        <p th:if="${wrongInput}" class="errors alert alert-danger">
            Invalid username or password!
        </p>
        <p th:if="${passwordChanged}" class="alert alert-success">
            Password changed successfully!
        </p>
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" th:value="${username}">
        <label for="username">Username</label>
    </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="password" name="password">
            <label for="password">Password</label>
        </div>

        <div class="row mb-4" style="padding-top: 10px">
            <div class="col d-flex justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31" style="padding-top: 10px; font-weight: bold" > Remember me </label>
                </div>
            </div>

            <div class="col" style="padding-top: 10px; font-weight: bold">
                <a th:href="@{/auth/password-reset}" >Forgot password?</a>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>