<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main>
    <form class="mx-auto w-25 bg-blur login-form"
          th:method="post"
          th:action="@{/auth/password-reset/verifiy/authentication}">
        <p class="page-name">Login</p>

        <p th:if="${confirmPasswordError}" class="errors alert alert-danger">
            Passwords are not equal!
        </p>

        <p th:if="${passwordLengthError}" class="errors alert alert-danger">
            Password must be at least 5 symbols!
        </p>
        <input type="hidden" name="email" th:value="${email}">
        <input type="hidden" name="token" th:value="${token}">
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="password" name="password" min="3">
            <label for="password">Password</label>
        </div>

        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" min="3">
            <label for="password">Confirm Password</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>