<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main class="form-background">
    <div class="container-fluid justify-content-center d-flex">
        <div class="row w-25">
            <div class="col-xs m-2 col-lg-12">
                <form class="mx-auto bg-blur auth-form"
                      th:method="post"
                      th:action="@{/auth/password-reset/authentication}">
                    <p class="page-name">Forgot password</p>

                    <div>
                        <p th:unless="${userNotFound} or ${badToken} or ${tokenSend} or ${tokenExists}" class="alert alert-primary">
                            Enter your email below
                        </p>
                        <p th:if="${userNotFound}" class="errors alert alert-danger">
                            User not found with that email!
                        </p>
                        <p th:if="${badToken}" class="errors alert alert-danger">
                            Token is expired or doesnt exist!
                        </p>
                        <div th:if="${tokenSend}" class="alert alert-success" style="padding: 10px">
                            <p>We send you email with information </p>
                            <p>about next step to change your password!</p>
                        </div>

                        <div th:if="${tokenExists}" class="errors alert alert-danger" style="padding: 10px">
                            <p>You still have generated message!</p>
                            <p>Check your email!</p>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email">
                        <label for="email">Email</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>