<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::header"></header>

<main class="form-background">
    <div class="container-fluid justify-content-center d-flex">
    <div class="row w-25">
        <div class="col-xs-20 col-lg-12">
            <form class="mx-auto bg-blur auth-form"
          th:method="post"
          th:action="@{/auth/register/processing}"
          th:object="${userRegisterDTO}">
        <p class="auth-header" style="padding-bottom: 10%">Register</p>
        <div class="form-floating input-group mb-2">
            <input type="text" class="form-control" id="username" name="username" th:field="*{username}" th:errorclass="is-invalid" required>
            <label for="username">Username</label>
            <div class="invalid-tooltip" th:if="${#fields.hasErrors('username')}" th:each="e : ${#fields.errors('username')}" th:text="${e}" style="font-size: x-small"></div>

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16"
                 style="position: absolute;margin:  5% 90%;"
                 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Username must be between 3 and 15 chars!">

                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
            </svg>

            </div>

        <div class="form-floating input-group mb-2">
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" th:errorclass="is-invalid" required>
            <label for="password">Password</label>
            <div class="invalid-tooltip" th:if="${#fields.hasErrors('password')}" th:each="e : ${#fields.errors('password')}" th:text="${e}" style="font-size: x-small"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16"
                 style="position: absolute;margin:  5% 90%;"
                 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Password must be at least 5 symbols!">

                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
            </svg>
            </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" th:errorclass="is-invalid" required>
            <label for="confirmPassword">Confirm Password</label>
            <div class="invalid-tooltip" th:if="${#fields.hasErrors('confirmPassword')}" th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}" style="font-size: x-small"></div>
            </div>
        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" th:errorclass="is-invalid" required>
            <label for="email">Email address</label>
            <div class="invalid-tooltip" th:if="${#fields.hasErrors('email')}" th:each="e : ${#fields.errors('email')}" th:text="${e}" style="font-size: xx-small"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        </div>
    </div>
</div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>